-- ================================================
-- Template generated from Template Explorer using:
-- Create Procedure (New Menu).SQL
--
-- Use the Specify Values for Template Parameters 
-- command (Ctrl-Shift-M) to fill in the parameter 
-- values below.
--
-- This block of comments will not be included in
-- the definition of the procedure.
-- ================================================
USE SRM_PRO
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------------------------
-------------------------------------------INSERT---------------------------------------------------------
----------------------------------------------------------------------------------------------------------
GO							

-- =============================================
-- Author:		Giang Nguyen
-- Create date: 27/07/2012
-- Description:	Procedure will create an id increase automatic when add new category
-- =============================================


----------------------------------------------------------------------------------------------------------
-------------------------------------------SEARCHING---------------------------------------------------------
----------------------------------------------------------------------------------------------------------
GO							

-- =============================================
-- Author:		Huy Huynh
-- Create date: 28/07/2012
-- Description:
-- =============================================

	-- ======================================--======================================--
--==========================================USER======================================== --
	-- ======================================--======================================--
CREATE PROC SP_SEARCH_USER
AS
BEGIN
	SELECT [USERID], [PASSWORD], A.[AUTHORITYID],AUTHORITY_NAME
	FROM dbo.[USER] U, dbo.AUTHORITY A
	WHERE A.[AUTHORITYID] = U.[AUTHORITYID] AND USER_STATUS = 'TRUE'
END
GO

	-- ======================================--======================================--
--==========================================DEPARTMENT======================================== --
	-- ======================================--======================================--
CREATE PROC SP_SEARCH_DEPARTMENT
AS
BEGIN
	SELECT DEPARTMENTID, DEPARTMENT_NAME
	FROM dbo.DEPARTMENT
	WHERE DEPARTMENT_STATUS = 'TRUE'
END
GO

	-- ======================================--======================================--
--==========================================STUDENT======================================== --
	-- ======================================--======================================--
CREATE PROC SP_SEARCH_STUDENTID
@STUDENTID VARCHAR(9)
AS
BEGIN
	SELECT	s.STUDENTID, STUDENT_NAME, STUDENT_DATEOFBIRTH,DEPARTMENT_NAME, BATCH, RECEIPTID
	FROM	dbo.STUDENT S, DEPARTMENT D, RECEIPT R
	WHERE	s.STUDENTID = @STUDENTID and
			S.DEPARTMENTID = D.DEPARTMENTID AND
			S.STUDENTID = R.STUDENTID
END
GO
	-- ======================================--======================================--
--==========================================RECORD======================================== --
	-- ======================================--======================================--
CREATE PROC SP_SEARCH_RECORD
@STUDENTID VARCHAR(9)
AS
BEGIN
	SELECT	RE.RECORDID, RECORD_NAME, RECORD_STATUS, NOTE
	FROM	dbo.STUDENT S, dbo.RECORD RE, dbo.RECEIPT_DETAIL RD, dbo.RECEIPT RT
	WHERE	S.STUDENTID = @STUDENTID AND
			S.STUDENTID = RT.STUDENTID AND
			RT.RECEIPTID = RD.RECEIPTID AND
			RD.RECORDID = RE.RECORDID		
END
GO

	-- ======================================--======================================--
--==========================================RECEIPT======================================== --
	-- ======================================--======================================--
CREATE PROC SP_SEARCH_RECEIPT
@STUDENTID VARCHAR(9)
AS
BEGIN
	SELECT	RECEIPTID
	FROM	dbo.RECEIPT
	WHERE	@STUDENTID = STUDENTID
END
GO


----------------------------------------------------------------------------------------------------------
-------------------------------------------CREATE---------------------------------------------------------
----------------------------------------------------------------------------------------------------------
GO							

-- =============================================
-- Author:		Huy Huynh
-- Create date: 28/07/2012
-- Description:
-- =============================================
GO
	-- ======================================--======================================--
--==========================================STUDENT======================================== --
	-- ======================================--======================================--
--Import thông tin student vào
CREATE PROC SP_IMPORT_STUDENT_RECORD
@STUDENT_ID VARCHAR(9),
@STUDENT_NAME NVARCHAR(50),
@BATCH INT,
@STUDENT_PHONE VARCHAR(15),
@DATEOFBIRTH DATETIME,
@STUDENT_GENDER NVARCHAR(50),
@STUDENT_ADDRESS NVARCHAR(50),
@DEPARTMENTID VARCHAR(15),
@USERID VARCHAR(9)
AS
BEGIN
	INSERT INTO STUDENT VALUES (@STUDENT_ID,@STUDENT_NAME,@BATCH,@STUDENT_ADDRESS,@STUDENT_PHONE,@STUDENT_GENDER,@DATEOFBIRTH,@DEPARTMENTID,@USERID)
END
GO

-- ======================================--======================================--
--==========================================RECIEPT======================================== --
	-- ======================================--======================================--
--Thêm record vào
--CREATE PROC SP_CREATE_STUDENT_RECEIPT
--@STUDENTID VARCHAR(9),
--@USERID VARCHAR(9),
--@DEPARTMENTID VARCHAR(9),
--@DATE_CREATED DATETIME
--AS
--BEGIN
--	DECLARE @RECEIPTID VARCHAR(10)
--	DECLARE @MAX INT
	
--	IF NOT EXISTS (SELECT 1 FROM RECEIPT )
--	BEGIN
--		SET @RECEIPTID = YEAR(@DATE_CREATED)+@DEPARTMENTID+'0001'
--	END
--	ELSE
--	BEGIN
--		SET @MAX = (SELECT MAX (RIGHT(RECEIPTID,4)) FROM RECEIPT )
--		SET @MAX = @MAX+1
--		SET @RECEIPTID = YEAR(@DATE_CREATED) + @DEPARTMENTID + RIGHT('000'+CONVERT(VARCHAR(4),@MAX),4)
--	END

--	INSERT INTO RECEIPT VALUES (@RECEIPTID,@STUDENTID,@USERID,@DATE_CREATED)
--END
--GO


create proc SP_CREATE_STUDENT_RECEIPT
@STUDENTID VARCHAR(9),
@USERID VARCHAR(9),
@DEPARTMENTID VARCHAR(9)
AS
BEGIN
	DECLARE @RECEIPTID VARCHAR(10)
	DECLARE @MAX INT
	
	IF NOT EXISTS (SELECT RECEIPTID FROM dbo.RECEIPT WHERE YEAR(GETDATE()) = 
						CONVERT(VARCHAR(4),SUBSTRING(RECEIPTID,1,4)))
		BEGIN
			SET @RECEIPTID = CONVERT(VARCHAR,( YEAR(GETDATE())))+@DEPARTMENTID+'0001'
		END
	ELSE
		BEGIN
			SET @MAX = (SELECT MAX (RIGHT(RECEIPTID,4)) FROM RECEIPT WHERE CONVERT(VARCHAR(4),LEFT(RECEIPTID,4)) = YEAR(GETDATE()))
			SET @MAX = @MAX+1
			SET @RECEIPTID = CONVERT(VARCHAR(4),YEAR(GETDATE())) + @DEPARTMENTID + RIGHT('000'+CONVERT(VARCHAR(4),@MAX),4)
		END
	INSERT INTO RECEIPT VALUES (@RECEIPTID,@STUDENTID,@USERID,GETDATE())
	
	SELECT RECEIPTID FROM RECEIPT WHERE RECEIPTID = @RECEIPTID
END
GO


-- ======================================--======================================--
--==========================================RECEIPT DETAIL======================================== --
	-- ======================================--======================================--
--Thêm record vào
CREATE PROC SP_CREATE_RECEIPT_DETAIL
@RECEIPTID VARCHAR(10)
AS
BEGIN
	INSERT INTO RECEIPT_DETAIL VALUES (@RECEIPTID,1,'FALSE','')
	INSERT INTO RECEIPT_DETAIL VALUES (@RECEIPTID,2,'FALSE','')
	INSERT INTO RECEIPT_DETAIL VALUES (@RECEIPTID,3,'FALSE','')
	INSERT INTO RECEIPT_DETAIL VALUES (@RECEIPTID,4,'FALSE','')
	INSERT INTO RECEIPT_DETAIL VALUES (@RECEIPTID,5,'FALSE','')
	INSERT INTO RECEIPT_DETAIL VALUES (@RECEIPTID,6,'FALSE','')
	INSERT INTO RECEIPT_DETAIL VALUES (@RECEIPTID,7,'FALSE','')
	INSERT INTO RECEIPT_DETAIL VALUES (@RECEIPTID,8,'FALSE','')
	INSERT INTO RECEIPT_DETAIL VALUES (@RECEIPTID,9,'FALSE','')
END
GO


----------------------------------------------------------------------------------------------------------
-------------------------------------------UPDATE---------------------------------------------------------
----------------------------------------------------------------------------------------------------------
GO							

-- =============================================
-- Author:		Huy Huynh
-- Create date: 30/07/2012
-- Description:
-- =============================================
GO
	-- ======================================--======================================--
--==========================================USER======================================== --
	-- ======================================--======================================--

CREATE PROC SP_UPDATE_USER_LOGIN_ALLOWED
@USERID VARCHAR(9),
@STATUS BIT
AS
BEGIN
	update	[USER]
	set		USER_LOGINALOWED = @STATUS
	where	USERID = @USERID
END
GO

-- ======================================--======================================--
--==========================================RECEIPT DETAIL======================================== --
	-- ======================================--======================================--
--Thêm record vào
CREATE PROC SP_UPDATE_RECEIPT_DETAIL
@RECEIPTID VARCHAR(10),
@RECORDID INT,
@STATUS BIT,
@NOTE NVARCHAR(100)
AS
BEGIN
	UPDATE	RECEIPT_DETAIL
	SET		RECORD_STATUS = @STATUS,
			NOTE = @NOTE
	WHERE	@RECEIPTID = RECEIPTID AND
			@RECORDID = RECORDID
END
GO

update [user]
set USER_LOGINALOWED='true'
where USERID = 'admin'

-- ======================================--======================================--
--==========================================RECEIPT======================================== --
	-- ======================================--======================================--

--create PROC SP_UPDATE_DATETIME_RECEIPT
--@RECEIPTID VARCHAR(10)
--AS
--BEGIN
--	UPDATE	RECEIPT
--	SET		DATE_CREATED=GETDATE()
--	WHERE	@RECEIPTID = RECEIPTID
--END
--GO

---------------------------------------------------------------------------------------------------


--INSERT DATA BASE
---------------------------------------------AUTHORITY-------------------------------------------
INSERT INTO dbo.AUTHORITY VALUES ('AU0001','Administrator')
INSERT INTO dbo.AUTHORITY VALUES ('AU0002','The Faculty Monitor')
INSERT INTO dbo.AUTHORITY VALUES ('AU0003','The Received Student Record Officer')

---------------------------------------------DEPARTMENT-------------------------------------------
INSERT INTO DEPARTMENT VALUES ('HIGH',N'Tài khoản cấp cao','FALSE')
INSERT INTO DEPARTMENT VALUES ('AX',N'Kiến trúc Xây dựng','TRUE')
INSERT INTO DEPARTMENT VALUES ('NN',N'Ngoại ngữ','TRUE')

---------------------------------------------DEPARTMENT_AUTHORITY-------------------------------------------
INSERT INTO DEPARTMENT_AUTHORITY VALUES ('HIGH','AU0001')
INSERT INTO DEPARTMENT_AUTHORITY VALUES ('HIGH','AU0004')
INSERT INTO DEPARTMENT_AUTHORITY VALUES ('HIGH','AU0005')



---------------------------------------------[USER]-------------------------------------------
INSERT INTO [USER] VALUES('ADMIN',N'Chân Tình','2/9/1991', N'115/28 Trần Đình Xu, Q1','01656002722','Nam','Admin','True','True','HIGH','AU0001')
INSERT INTO [USER] VALUES('987654320',N'Baby Sunshine','1/11/1991', N'7/14 Nguyễn Khắc Nhu, Q1','01679246288','Nam','123','True','True','TH','AU0002')
INSERT INTO [USER] VALUES('123456789',N'Cùi Quang Hiệp', '9/22/1991', N'112 Cống Quỳnh, Q1','0153968742',N'Nữ','123','True','True','HIGH','AU0006')

---------------------------------------------RECORD-------------------------------------------
INSERT INTO dbo.RECORD VALUES (1,N'Giấy báo trúng tuyển')
INSERT INTO dbo.RECORD VALUES (2,N'Học bạ THPT (Bản photo có kèm bản chính)')
INSERT INTO dbo.RECORD VALUES (3,N'Bằng tốt nghiệp PTTH, BTTH, giấy CNTN tạm thời (Bản photo kèm theo bản chính đối chiếu)')

--THỰC THI CÁC HÀM SELECT
SELECT * FROM DEPARTMENT
GO
SELECT * FROM AUTHORITY
GO
SELECT * FROM DEPARTMENT_AUTHORITY
GO
SELECT * FROM [USER]
GO
SELECT * FROM STUDENT
GO
SELECT * FROM RECORD
GO

--SEARCH USER
EXEC SP_SEARCH_USER
GO
--SEARCH DEPARTMENT
EXEC SP_SEARCH_DEPARTMENT
GO