

/*********************CREATE DATABASE********************************/

CREATE DATABASE POS_SYSTEM_PRO
GO 
USE POS_SYSTEM_PRO



/************************ CREATE TABLE CATEGORY  *************************/

CREATE TABLE CATEGORY( CATEGORY_ID	VARCHAR(9)	not null,
						CATEGORY_NAME	NVARCHAR(50)	not null)
						
--PRIMARY KEY
ALTER TABLE CATEGORY
		ADD CONSTRAINT PK_CATEGORY
			PRIMARY KEY (CATEGORY_ID)
/************************ CREATE TABLE PRODUCT *************************/

CREATE TABLE PRODUCT(PRODUCT_ID VARCHAR(9)	not null,
						PRODUCT_NAME	NVARCHAR(50)	not null,
							BASICCOST 	FLOAT	not null,
								CATEGORY_ID	VARCHAR(9)	not null)

--PRIMARY KEY
ALTER TABLE PRODUCT
		ADD CONSTRAINT PK_PRODUCT
			PRIMARY KEY (PRODUCT_ID)
			
--REFERENCES KEY
ALTER TABLE PRODUCT 
		ADD CONSTRAINT FK_PRODUCT_CATEGORY FOREIGN KEY (CATEGORY_ID)
			REFERENCES CATEGORY(CATEGORY_ID)
						
/************************ CREATE TABLE RETAILSTORE  *************************/
CREATE TABLE RETAILSTORE ( RETAILSTORE_ID	VARCHAR(9) 	not null,
								RETAILSTORE_NAME 	nvarchar(50)	not null,)

--PRIMARY KEY
ALTER TABLE RETAILSTORE
		ADD CONSTRAINT PK_RETAILSTORE
			PRIMARY KEY (RETAILSTORE_ID)

/************************ CREATE TABLE COMPUTER  *************************/
			
CREATE TABLE COMPUTER( COMPUTER_MAC	VARCHAR(17)	not null,
						 RETAILSTORE_ID	VARCHAR(9) 	not nulL)
						
						
--PRIMARY KEY
ALTER TABLE COMPUTER
		ADD CONSTRAINT PK_COMPUTER
			PRIMARY KEY (COMPUTER_MAC)

--REFERENCES KEY
ALTER TABLE COMPUTER 
		ADD CONSTRAINT FK_COMPUTER_RETAILSTORE FOREIGN KEY (RETAILSTORE_ID)
			REFERENCES RETAILSTORE(RETAILSTORE_ID)


			
/************************ CREATE TABLE USER  *************************/
			
CREATE TABLE [USER]( [USER_ID]	VARCHAR(9) 	not null,
						[USER_ADDRESS]	NVARCHAR(50)	not null,
							[USER_NAME]	NVARCHAR(50)	not null,
								[USER_PHONE]	VARCHAR(15)	not null,
									[PASSWORD]	VARCHAR(32)	not null,
										RETAILSTORE_ID	VARCHAR(9) 	not null)
						
--PRIMARY KEY
ALTER TABLE [USER]
		ADD CONSTRAINT PK_USER
			PRIMARY KEY ([USER_ID])		

/************************ CREATE TABLE CUSTOMER *************************/
CREATE TABLE CUSTOMER(CUSTOMER_ID	VARCHAR(9)	not null,
							CUSTOMER_NAME	nvarchar(50)	not null,
								CUSTOMER_ADDRESS	NVARCHAR(50)	not null,
									CUSTOMER_PHONE	VARCHAR(15)	not null,
										SUMPOINT	INT	not null)

--PRIMARY KEY
ALTER TABLE CUSTOMER
		ADD CONSTRAINT PK_CUSTOMER
			PRIMARY KEY (CUSTOMER_ID)
			

		
/************************ CREATE TABLE BILL  *************************/
CREATE TABLE BILL(BILL_ID	VARCHAR(9)	not null,
								COMPUTER_MAC	VARCHAR(17)	not null,
									CUSTOMER_ID	VARCHAR(9)	not null,
										[USER_ID] VARCHAR(9) 	not null,
											TOTALCOST FLOAT NOT NULL,
												[DATE] DATETIME NOT NULL,
													PLUSPOINT INT NOT NULL,
														MINUSPOINT INT NOT NULL)
	

--PRIMARY KEY
ALTER TABLE BILL
		ADD CONSTRAINT PK_BILL
			PRIMARY KEY (BILL_ID)
			
--REFERENCES KEY
ALTER TABLE BILL 
		ADD CONSTRAINT FK_BILL_COMPUTER FOREIGN KEY (COMPUTER_MAC)
			REFERENCES COMPUTER(COMPUTER_MAC)
			
--REFERENCES KEY
ALTER TABLE BILL 
		ADD CONSTRAINT FK_BILL_USER FOREIGN KEY ([USER_ID])
			REFERENCES [USER]([USER_ID])
			
--REFERENCES KEY
ALTER TABLE BILL 
		ADD CONSTRAINT FK_BILL_CUSTOMER FOREIGN KEY (CUSTOMER_ID)
			REFERENCES CUSTOMER(CUSTOMER_ID)

				
/************************CREATE TABLE BILL DETAIL*************************/

CREATE TABLE BILL_DETAIL ( BILL_ID 	VARCHAR(9)	not null,
							PRODUCT_ID	VARCHAR(9)	not null,
								QUANTITY	INT	not null)
								
--PRIMARY KEY
ALTER TABLE BILL_DETAIL
		ADD CONSTRAINT PK_BILL_DETAIL
			PRIMARY KEY (BILL_ID, PRODUCT_ID)								
			
--REFERENCES KEY
ALTER TABLE BILL_DETAIL 
		ADD CONSTRAINT FK_BILL_PRODUCT FOREIGN KEY (PRODUCT_ID)
			REFERENCES PRODUCT(PRODUCT_ID)
			
--REFERENCES KEY
ALTER TABLE BILL_DETAIL 
		ADD CONSTRAINT FK_BILL_BILL FOREIGN KEY (BILL_ID)
			REFERENCES BILL(BILL_ID)		



/************************ CREATE TABLE COST  *************************/

CREATE TABLE COST( PRODUCT_ID	VARCHAR(9)	not null,
						RETAILSTORE_ID	VARCHAR(9) 	not null,
							DATESTART	DATETIME	not null,
								DATEEND	DATETIME	not null,
									COST	FLOAT	not null)


--PRIMARY KEY
ALTER TABLE COST
		ADD CONSTRAINT PK_COST
			PRIMARY KEY (PRODUCT_ID,RETAILSTORE_ID)
			
--REFERENCES KEY
ALTER TABLE COST 
		ADD CONSTRAINT FK_COST_RETAILSTORE FOREIGN KEY (RETAILSTORE_ID)
			REFERENCES RETAILSTORE(RETAILSTORE_ID)
			
--REFERENCES KEY
ALTER TABLE COST 
		ADD CONSTRAINT FK_COST_PRODUCT FOREIGN KEY (PRODUCT_ID)
			REFERENCES PRODUCT(PRODUCT_ID)

/************************ CREATE TABLE RETAILSTORE_CATEGORY  *************************/

CREATE TABLE RETAILSTORE_CATEGORY( CATEGORY_ID	VARCHAR(9)	not null,
						RETAILSTORE_ID	VARCHAR(9) 	not null,
							QUANTITY	INT NOT NULL)
						
--PRIMARY KEY
ALTER TABLE RETAILSTORE_CATEGORY
		ADD CONSTRAINT PK_RETAILSTORE_CATEGORY
			PRIMARY KEY (RETAILSTORE_ID,CATEGORY_ID)

--REFERENCES KEY
ALTER TABLE RETAILSTORE_CATEGORY 
		ADD CONSTRAINT FK_RETAILSTORE_CATEGORY_RETAILSTORE FOREIGN KEY (RETAILSTORE_ID)
			REFERENCES RETAILSTORE(RETAILSTORE_ID)
--REFERENCES KEY
ALTER TABLE RETAILSTORE_CATEGORY 
		ADD CONSTRAINT FK_RETAILSTORE_CATEGORY_CATEGORY FOREIGN KEY (CATEGORY_ID)
			REFERENCES CATEGORY(CATEGORY_ID)



