

/*********************CREATE DATABASE********************************/

CREATE DATABASE POS_SYSTEM_PRO
GO 
USE POS_SYSTEM_PRO



/************************ CREATE TABLE CATEGORY  *************************/

CREATE TABLE CATEGORY( CATEGORYID	VARCHAR(9)	not null,
						CATEGORY_NAME	NVARCHAR(50)	not null)
						
--PRIMARY KEY
ALTER TABLE CATEGORY
		ADD CONSTRAINT PK_CATEGORY
			PRIMARY KEY (CATEGORYID)
/************************ CREATE TABLE PRODUCT *************************/

CREATE TABLE PRODUCT(PRODUCTID VARCHAR(9)	not null,
						PRODUCT_NAME	NVARCHAR(50)	not null,
							BASICCOST 	FLOAT	not null,
								CATEGORYID	VARCHAR(9)	not null)

--PRIMARY KEY
ALTER TABLE PRODUCT
		ADD CONSTRAINT PK_PRODUCT
			PRIMARY KEY (PRODUCTID)
			
--REFERENCES KEY
ALTER TABLE PRODUCT 
		ADD CONSTRAINT FK_PRODUCT_CATEGORY FOREIGN KEY (CATEGORYID)
			REFERENCES CATEGORY(CATEGORYID)
						
/************************ CREATE TABLE RETAILSTORE  *************************/
CREATE TABLE RETAILSTORE ( RETAILSTOREID	VARCHAR(9) 	not null,
								RETAILSTORE_NAME 	nvarchar(50)	not null,)

--PRIMARY KEY
ALTER TABLE RETAILSTORE
		ADD CONSTRAINT PK_RETAILSTORE
			PRIMARY KEY (RETAILSTOREID)

/************************ CREATE TABLE COMPUTER  *************************/
			
CREATE TABLE COMPUTER( COMPUTERMAC	VARCHAR(17)	not null,
						 RETAILSTOREID	VARCHAR(9) 	not nulL)
						
						
--PRIMARY KEY
ALTER TABLE COMPUTER
		ADD CONSTRAINT PK_COMPUTER
			PRIMARY KEY (COMPUTERMAC)

--REFERENCES KEY
ALTER TABLE COMPUTER 
		ADD CONSTRAINT FK_COMPUTER_RETAILSTORE FOREIGN KEY (RETAILSTOREID)
			REFERENCES RETAILSTORE(RETAILSTOREID)


			
/************************ CREATE TABLE USER  *************************/
			
CREATE TABLE [USER]( [USERID]	VARCHAR(9) 	not null,
						[USER_ADDRESS]	NVARCHAR(50)	not null,
							[USER_NAME]	NVARCHAR(50)	not null,
								[USER_PHONE]	VARCHAR(15)	not null,
									[PASSWORD]	VARCHAR(32)	not null,
										RETAILSTOREID	VARCHAR(9) 	not null)
						
--PRIMARY KEY
ALTER TABLE [USER]
		ADD CONSTRAINT PK_USER
			PRIMARY KEY ([USERID])		

/************************ CREATE TABLE CUSTOMER *************************/
CREATE TABLE CUSTOMER(CUSTOMERID	VARCHAR(9)	not null,
							CUSTOMER_NAME	nvarchar(50)	not null,
								CUSTOMER_ADDRESS	NVARCHAR(50)	not null,
									CUSTOMER_PHONE	VARCHAR(15)	not null,
										SUMPOINT	INT	not null)

--PRIMARY KEY
ALTER TABLE CUSTOMER
		ADD CONSTRAINT PK_CUSTOMER
			PRIMARY KEY (CUSTOMERID)
			

		
/************************ CREATE TABLE BILL  *************************/
CREATE TABLE BILL(BILLID	VARCHAR(9)	not null,
								COMPUTERMAC	VARCHAR(17)	not null,
									CUSTOMERID	VARCHAR(9)	not null,
										[USERID] VARCHAR(9) 	not null,
											TOTALCOST FLOAT NOT NULL,
												[DATE] DATETIME NOT NULL,
													PLUSPOINT INT NOT NULL,
														MINUSPOINT INT NOT NULL)
	

--PRIMARY KEY
ALTER TABLE BILL
		ADD CONSTRAINT PK_BILL
			PRIMARY KEY (BILLID)
			
--REFERENCES KEY
ALTER TABLE BILL 
		ADD CONSTRAINT FK_BILL_COMPUTER FOREIGN KEY (COMPUTERMAC)
			REFERENCES COMPUTER(COMPUTERMAC)
			
--REFERENCES KEY
ALTER TABLE BILL 
		ADD CONSTRAINT FK_BILL_USER FOREIGN KEY ([USERID])
			REFERENCES [USER]([USERID])
			
--REFERENCES KEY
ALTER TABLE BILL 
		ADD CONSTRAINT FK_BILL_CUSTOMER FOREIGN KEY (CUSTOMERID)
			REFERENCES CUSTOMER(CUSTOMERID)

				
/************************CREATE TABLE BILL DETAIL*************************/

CREATE TABLE BILL_DETAIL ( BILLID 	VARCHAR(9)	not null,
							PRODUCTID	VARCHAR(9)	not null,
								QUANTITY	INT	not null)
								
--PRIMARY KEY
ALTER TABLE BILL_DETAIL
		ADD CONSTRAINT PK_BILL_DETAIL
			PRIMARY KEY (BILLID, PRODUCTID)								
			
--REFERENCES KEY
ALTER TABLE BILL_DETAIL 
		ADD CONSTRAINT FK_BILL_PRODUCT FOREIGN KEY (PRODUCTID)
			REFERENCES PRODUCT(PRODUCTID)
			
--REFERENCES KEY
ALTER TABLE BILL_DETAIL 
		ADD CONSTRAINT FK_BILL_BILL FOREIGN KEY (BILLID)
			REFERENCES BILL(BILLID)		



/************************ CREATE TABLE COST  *************************/

CREATE TABLE COST( PRODUCTID	VARCHAR(9)	not null,
						RETAILSTOREID	VARCHAR(9) 	not null,
							DATESTART	DATETIME	not null,
								DATEEND	DATETIME	not null,
									COST	FLOAT	not null)


--PRIMARY KEY
ALTER TABLE COST
		ADD CONSTRAINT PK_COST
			PRIMARY KEY (PRODUCTID,RETAILSTOREID)
			
--REFERENCES KEY
ALTER TABLE COST 
		ADD CONSTRAINT FK_COST_RETAILSTORE FOREIGN KEY (RETAILSTOREID)
			REFERENCES RETAILSTORE(RETAILSTOREID)
			
--REFERENCES KEY
ALTER TABLE COST 
		ADD CONSTRAINT FK_COST_PRODUCT FOREIGN KEY (PRODUCTID)
			REFERENCES PRODUCT(PRODUCTID)

/************************ CREATE TABLE RETAILSTORE_CATEGORY  *************************/

CREATE TABLE RETAILSTORE_CATEGORY( CATEGORYID	VARCHAR(9)	not null,
						RETAILSTOREID	VARCHAR(9) 	not null,
							QUANTITY	INT NOT NULL)
						
--PRIMARY KEY
ALTER TABLE RETAILSTORE_CATEGORY
		ADD CONSTRAINT PK_RETAILSTORE_CATEGORY
			PRIMARY KEY (RETAILSTOREID,CATEGORYID)

--REFERENCES KEY
ALTER TABLE RETAILSTORE_CATEGORY 
		ADD CONSTRAINT FK_RETAILSTORE_CATEGORY_RETAILSTORE FOREIGN KEY (RETAILSTOREID)
			REFERENCES RETAILSTORE(RETAILSTOREID)
--REFERENCES KEY
ALTER TABLE RETAILSTORE_CATEGORY 
		ADD CONSTRAINT FK_RETAILSTORE_CATEGORY_CATEGORY FOREIGN KEY (CATEGORYID)
			REFERENCES CATEGORY(CATEGORYID)



